.news-list-style {
    display: flex;
    flex-direction: column;
    padding-top: 55px;

}

.news-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 82px;
    align-items: stretch;
}